.form-container{
	border:1px solid #e5e5e5; 
	width: 85%;
	padding-top: 10px; 
	padding-right: 40px; 
	padding-bottom: 10px; 
	padding-left: 40px; 
	margin-top:20vh;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 1px solid #e5e5e5;
}
.c-desktop-logo{
 	padding-top: 0px; 
	padding-bottom: 0px; 
 	display: block;
    margin-left: auto;
    margin-right: auto;
 }
.form-title{
	padding-top: 5px; 
    text-align: center;
 }
 .asterisk{
	color: red;
}


 .checkbox-inline{
	padding-top: 0px; 
	padding-bottom: 15px; 
}
.forgot-psw{
	padding-top: 0px; 
	padding-bottom: 15px; 
	font-weight: bold;
} 
 .sign-up{
	padding: 13px;
	text-align: center;
}
 .sign-up-link{
	padding: 13px;
	text-align: center;
	font-weight: bold;
}